*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(160, 203, 241);
}
.container{
    /* border: 1px solid; */
    padding: 20px;
    border-radius: 9px;
    width: 35vh;
    height: 38vh;
    background-color: #fff;
}
h2{
    text-align: center;
}

form{
    margin: 16px 5px;
}

.amount p{
    margin-bottom: 2px;
}
.amount input{
    border: 1px solid #b7b3b3bd;
    outline: none;
    width: 235px;
    border-radius: 3px;
    height: 25px;
    padding-left: 12px;
}
.dropdown{
    display: flex;
    align-items: center;
    margin: 15px 0;
    justify-content: space-between;
}

.select-container{
    display: flex;
    align-items: center;
    border: 1px solid #b7b3b3bd;
    padding: 3px;
    border-radius: 5px;
}
.select-container img{
    max-width: 30px;
}
.select-container select{
    border: none;
    outline: none;
}

.msg{
    font-size: 12px
}

button{
    display: flex;
    text-align: center;
    width: 34vh;
    justify-content: center;
    margin: 15px 0;
    height: 35px;
    align-items: center;
    background: #8b4697;
    border: none;
    color: #fff;
    border-radius: 7px;
}