*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #eee;
    text-align: center;
}
h1{
    color: #f48523;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 20px 0 10px 0;
}
p{
    font-size: 20px;
    letter-spacing: 1px;
    color: #141212;
    margin-bottom: 58px;
}

#input_container{
    box-shadow: 0px 0px 11px #817979;
    margin: 25px 0;
    height: 110px;
    background: #fff;

}
button{
    margin: 20px 0;
    text-align: center;
    width: 8%;
    height: 35px;
    background-color:#FFA500;
    border: none;
    margin-right: 10px;
    letter-spacing: 1px;
}

#wrapper{
    margin-top: 59px;
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    
}
.language-item, .country_item{
    display: flex;
}

#name{
    width: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 22px;
}
#polbar{
    width: 65%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    border: none;  
}

#number{
    width: 10%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
#polbar::-webkit-progress-bar{
    background-color: #eee;
}
#polbar::-webkit-progress-value {
    background-color: #FFA500;
}